BasedOnStyle: Google
ColumnLimit: 90
MaxEmptyLinesToKeep: 2

ContinuationIndentWidth: 2

BinPackParameters: true
BinPackArguments: true

ConstructorInitializerAllOnOneLineOrOnePerLine: false

AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true

TabWidth: 2
# Never, ForIndentation, ForContinuationAndIndentation, Always
# UseTab: Never

# AlignOperands: true
# Align, DontAlign, AlwaysBreak
AlignAfterOpenBracket: DontAlign
# BreakBeforeBinaryOperators: true
